/* FLOATS */

.helper-float--left {
  float: left;
}

.helper-float--right {
  float: right;
}

.helper-clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/* DISPLAY */

.helper-display--block {
  display: block;
}

/* TYPOGRAPHIC */
