@import '../fix';
@import '../core';
@import '../chips';
@import '../helpers';
@import '../typography';
@import '../navigation';
@import '../categories';

html {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: var(--base--font-stack);
  font-size: var(--base--font-size);
  line-height: var(--base--line-height);
  background-color: var(--color--background);
  color: var(--color--body-copy);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--color--highlight);
  opacity: 0;
}
